main {
    display: flex;
    flex-direction: row;
}
body {
    display: flex;
    flex-direction: column;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
}